.global {
    --element-color: #ffffff7e;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #292929;
    --light-color: #232323;
}

.dark {
    --color: #ffffff;
    --background: #15151500;
    --background-element: #23232300;
    --background-transparent: #5c5c5c89;
    --shadow: rgba(208, 208, 208, 0.7);
    --svg-color: #4a4a4a90;
}

.light {
    --color: #ffffff;
    --background: #15151500;
    --background-element: #23232300;
    --background-transparent: #5c5c5c89;
    --shadow: rgba(208, 208, 208, 0.7);
    --svg-color: #4a4a4a90;
}
